.header {
  width: 100vw;
  background: #4d4d4d;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.header a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}